<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Brand</title>
    <meta name="description" content="This admin panel is created using bootstrap.">
    <link rel="icon" type="image/jpeg" sizes="288x258" href="assets/img/logo.JPG">
    <link rel="icon" type="image/jpeg" sizes="288x258" href="assets/img/logo.JPG">
    <link rel="icon" type="image/jpeg" sizes="288x258" href="assets/img/logo.JPG">
    <link rel="icon" type="image/jpeg" sizes="288x258" href="assets/img/logo.JPG">
    <link rel="icon" type="image/jpeg" sizes="288x258" href="assets/img/logo.JPG">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body class="bg-white-primary">
    <div class="container">
        <div class="row login-form-section p-5" style="position: absolute; top: 20%; left: 10%;">
            <div class="col col-sm-12 col-md-6"><img src="assets\img\login-img.JPG" class="img-fluid"></div>
            <div class="col col-sm-12 col-md-6">
                <form>
                    <h1 style="background-color: #ffffff;color: rgb(71,71,71);">Login</h1>
                    <div class="form-group"><label><span style="color: #6a7bf7;">*</span>Email</label><input class="form-control" type="email" style="color: #afb0bb;" placeholder="Email" required="" autofocus=""></div>
                    <div class="form-group"><label><span style="color: #6a7bf7;">*</span>Password</label><input class="form-control" type="password" placeholder="Password" required="" autofocus=""></div>
                    <button class="btn btn-primary btn-lg d-md-flex justify-content-md-center mx-auto px-4"
                        type="submit" style="background-color: #4268f6;"> Login </button>
                </form>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>