<div class="border-bottom p-3 d-none mobile-nav">
    <div class="title d-flex align-items-center">
        <a href="/" class="text-decoration-none text-dark d-flex align-items-center">
            <img class="osahan-logo mr-2" src="https://lh3.googleusercontent.com/fife/ABSRlIolpmscwMTkL2up3WLmPbIM-Jdp41G4y9H2SL9S7XlCFJyAeZTY1jhzkV-8Oi33lhTqlTIO6s9xv-wjUgS6_Or3KUMFPDoR8F3U3RpXsS3jonTA4x71hnQiVbT7iN6PoMeftGbEsjEUePOF8qOQaxe5CiaJg2zi9tWp-G7SNTXuWQAPx7li6XAPQOCLIGkUXgMHYdCKtP3t83KCCj5SmpgaG0xSQyyXQjTAeIMQ35lG4N2VNK6xQ1h4OcgpYLLsXYqUiODwoDuQPw09wz8ma5m87rHCwGvRocxpEL_utAEOsemnxBNpo-Ed1e8EP2yUh_4fkN77kFxWqKoU625OROl6C2y3mhDyyFLzteNcYP4LZxyDtgyNNkSHVZisV_S9PFsXu-8xCjreXZ8EK4_vu3sWPzdZS_Lt3tLDotsU4CPCODgl1NQu_JQ-MjrFiEb4loe1tZq8rpM7L84f8BdpwAyxqvMbCrsrW8rc9KfQhAXWS3xZlxEYjtAPeDMVAj6wdpt4Q2HKFUIT2G7jenmoUvAhJ_9p2H9DXaUS9pmuGX0xRAP2sS7C9MdAON7Sf2XJ4pg3wxUvl0B0Hr0k6Z18LyFMf9AZyeo_AYYdGpmVnO1NCicNecBo4ZBH6nzgKW95ZPH2CkEjVr4jkrWAjilvUZ7xf1E8zGZbMOlEgeJyoq1zR6_fR_a38KGOMBMGyleypzR4PjRtJ2hqN7m0NyRufF2pbjM=s220-ft">
            <!-- <h4 class="font-weight-bold text-success m-0">Grocery</h4> -->
        </a>
        <p class="ml-auto m-0">
            <!-- <a href="/listing"
                class="text-decoration-none bg-white p-1 rounded shadow-sm d-flex align-items-center">
                <i class="text-dark icofont-sale-discount"></i>
                <span class="badge badge-danger p-1 ml-1 small">50%</span>
            </a> -->
            <a href="https://www.facebook.com/4storez-108710707974198" class="btn btn-icon btn-light"><i class="icofont-facebook"></i></a>
            <a href="https://instagram.com/4storez_com?igshid=1tvd5cabvd262" class="btn btn-icon btn-light"><i class="icofont-instagram"></i></a>

        </p>
        <a class="toggle ml-3" href="#"><i class="icofont-navigation-menu"></i></a>
    </div>
    <form action="/search" method="post">
        <!-- <a href="search.html" class="text-decoration-none"> -->
            <div class="input-group mt-3 rounded shadow-sm overflow-hidden bg-white" >
                <div class="input-group-prepend">
                    <button type="submit" class="border-0 btn btn-outline-secondary text-success bg-white"><i class="icofont-search"></i></button>
                </div>
                <input type="text" class="shadow-none border-0 form-control pl-0 w-50" name="search" placeholder="Search by Id, name, promo(e.g. 50 for 50% off)" aria-label="" aria-describedby="basic-addon1">
            </div>
        <!-- </a> -->
    </form>
</div>

<div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox" />
        <div class="slider round"></div>
        <i class="icofont-moon"></i>
    </label>
    <em>Enable Dark Mode!</em>
</div>

<div class="bg-white shadow-sm osahan-main-nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-white osahan-header py-2 container">
        <a class="navbar-brand mr-0" href="/">
            <img class="img-fluid logo-img " src="https://lh3.googleusercontent.com/fife/ABSRlIolpmscwMTkL2up3WLmPbIM-Jdp41G4y9H2SL9S7XlCFJyAeZTY1jhzkV-8Oi33lhTqlTIO6s9xv-wjUgS6_Or3KUMFPDoR8F3U3RpXsS3jonTA4x71hnQiVbT7iN6PoMeftGbEsjEUePOF8qOQaxe5CiaJg2zi9tWp-G7SNTXuWQAPx7li6XAPQOCLIGkUXgMHYdCKtP3t83KCCj5SmpgaG0xSQyyXQjTAeIMQ35lG4N2VNK6xQ1h4OcgpYLLsXYqUiODwoDuQPw09wz8ma5m87rHCwGvRocxpEL_utAEOsemnxBNpo-Ed1e8EP2yUh_4fkN77kFxWqKoU625OROl6C2y3mhDyyFLzteNcYP4LZxyDtgyNNkSHVZisV_S9PFsXu-8xCjreXZ8EK4_vu3sWPzdZS_Lt3tLDotsU4CPCODgl1NQu_JQ-MjrFiEb4loe1tZq8rpM7L84f8BdpwAyxqvMbCrsrW8rc9KfQhAXWS3xZlxEYjtAPeDMVAj6wdpt4Q2HKFUIT2G7jenmoUvAhJ_9p2H9DXaUS9pmuGX0xRAP2sS7C9MdAON7Sf2XJ4pg3wxUvl0B0Hr0k6Z18LyFMf9AZyeo_AYYdGpmVnO1NCicNecBo4ZBH6nzgKW95ZPH2CkEjVr4jkrWAjilvUZ7xf1E8zGZbMOlEgeJyoq1zR6_fR_a38KGOMBMGyleypzR4PjRtJ2hqN7m0NyRufF2pbjM=s220-ft">
            <!-- <img class="img-fluid logo-img "    src="./img/Untitled-1111.png"> -->
        <!-- <iframe src="https://drive.google.com/file/d/1wHImVViDH9_uz7A2Qw3ZrzllsJ2Ark8f/preview" width="640" height="480"></iframe> -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="ml-3 d-flex align-items-center">
            <!-- <div class="dropdown mr-3">
                <a class="text-dark dropdown-toggle d-flex align-items-center osahan-location-drop" href="#"
                    id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div><i
                            class="icofont-location-pin d-flex align-items-center bg-light rounded-pill p-2 icofont-size border shadow-sm mr-2"></i>
                    </div>
                    <div>
                        <p class="text-muted mb-0 small">Select Location</p>
=                    </div>
                </a>
                <div class="dropdown-menu osahan-select-loaction p-3" aria-labelledby="navbarDropdown">
                    <span>Select your city to start shopping</span>
                    <form class="form-inline my-2">

                        <div class="input-group p-0 col-lg-12">
                            <input type="text" class="form-control form-control-sm" placeholder="Search Location">
                            <div class="input-group-prepend">
                                <div class="btn btn-success rounded-right btn-sm"><i
                                        class="icofont-location-arrow"></i> Detect</div>
                            </div>
                        </div>
                    </form>
                    <div class="city pt-2">
                        <h6>Top Citys</h6>
                        <p class="border-bottom m-0 py-1"><a href="#" class="text-dark">Banglore</a></p>
                        <p class="border-bottom m-0 py-1"><a href="#" class="text-dark">Noida</a></p>
                        <p class="border-bottom m-0 py-1"><a href="#" class="text-dark">Delhi</a></p>
                        <p class="m-0 py-1"><a href="#" class="text-dark">Mumbai</a></p>
                    </div>
                </div>
            </div> -->

            <form action="/search" method="post">
                <div class="input-group mr-sm-2 col-lg-12" style="width: 400px;">
                    <input type="text" class="form-control" name="search" placeholder="Search by Id, name, promo(e.g. 50 for 50% off)">
                    <div class="input-group-prepend">
                        <div class="btn btn-success rounded-right"><i class="icofont-search"></i></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="ml-auto d-flex align-items-center">

            <% if ( typeof loginUser != "undefined"){ %> 
                <a href="javascript:void(0)" id="loginUser" class="mr-2 text-dark bg-light rounded-pill p-2 icofont-size border shadow-sm">
                    <i class="icofont-ui-user"></i> <%=loginUser.fullname %>
                </a>
                <a href="/logout" class="mr-2 text-dark bg-light rounded-pill p-2 icofont-size border shadow-sm">
                    <i class="icofont-logout"></i>
                </a>
            <% } else { %>
                    <a href="#" data-toggle="modal" data-target="#login" class="mr-2 text-dark bg-light rounded-pill p-2 icofont-size border shadow-sm">
                        <i class="icofont-login"></i>
                    </a>
                    <% } %>

            <div class="dropdown">
                    <!-- <a href="#" class="text-dark dropdown-toggle not-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icofont-notification d-flex align-items-center bg-light rounded-pill p-2 icofont-size border shadow-sm"> </i>
                    </a> -->
                <div class="dropdown-menu dropdown-menu-right p-0 osahan-notifications-main"
                    aria-labelledby="dropdownMenuNotification">

                    <div class="osahan-notifications bg-white border-bottom p-2">
                        <div class="position-absolute ml-n1 py-2"><i
                                class="icofont-check-circled text-white bg-success rounded-pill p-1"></i></div>
                        <a href="status_complete.html" class="text-decoration-none text-dark">
                            <div class="notifiction small">
                                <div class="ml-3">
                                    <p class="font-weight-bold mb-1">Yay! Order Complete</p>
                                    <p class="small m-0"><i class="icofont-ui-calendar"></i> Today, 05:14 AM</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="osahan-notifications bg-white border-bottom p-2">
                        <a href="status_onprocess.html" class="text-decoration-none text-muted">
                            <div class="notifiction small">
                                <div class="ml-3">
                                    <p class="font-weight-bold mb-1">Yipiee. order Success</p>
                                    <p class="small m-0"><i class="icofont-ui-calendar"></i> Monday, 08:30 PM</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="osahan-notifications bg-white p-2">
                        <a href="status_onprocess.html" class="text-decoration-none text-muted">
                            <div class="notifiction small">
                                <div class="ml-3">
                                    <p class="font-weight-bold mb-1">New Promos Coming</p>
                                    <p class="small m-0"><i class="icofont-ui-calendar"></i> Sunday, 10:30 AM</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <a href="/cart/" class="ml-2 text-dark bg-light rounded-pill p-2 icofont-size border shadow-sm">
                <i class="icofont-shopping-cart"></i>
            </a>
            <a href="/find-order/" class="mr-2 ml-3 text-dark bg-light rounded-pill p-2 icofont-size border shadow-sm">
                <i class="icofont-fast-delivery"></i>
            </a>

        </div>
    </nav>

    <div class="bg-color-head py-1">
        <div class="container menu-bar d-flex align-items-center">
            <ul class="list-unstyled form-inline mb-0">
                <li class="nav-item active">
                    <a class="nav-link text-white pl-0" href="/">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/listing" >Products </a>
                    <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/listing">Listing</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="picks_today.html">Trending</a>
                        <a class="dropdown-item" href="recommend.html">Recommended</a>
                        <a class="dropdown-item" href="fresh_vegan.html">Most Popular</a>
                    </div> -->
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <del>Checkout Process</del>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="javascript:void(0)">Yay portion remove kerna hay <br> <strong>checkout procees</strong> ka</a>
                        <a class="dropdown-item" href="/cart">Cart</a>
                        <a class="dropdown-item" href="checkout.html">Checkout</a>
                        <a class="dropdown-item" href="successful.html">Successful</a>
                    </div>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Order
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="my_order.html">My order</a>
                        <a class="dropdown-item" href="status_complete.html">Status Complete</a>
                        <a class="dropdown-item" href="status_onprocess.html">Status on Process</a>
                        <a class="dropdown-item" href="status_canceled.html">Status Canceled</a>
                        <a class="dropdown-item" href="review.html">Review</a>
                    </div>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Extra Pages
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="verification.html">Verification</a>
                        <a class="dropdown-item" href="promos.html">Promos</a>
                        <a class="dropdown-item" href="promo_details.html">Promo Details</a>
                        <a class="dropdown-item" href="terms_conditions.html">Terms & Conditions</a>
                        <a class="dropdown-item" href="privacy.html">Privacy</a>
                        <a class="dropdown-item" href="terms%26conditions.html">Conditions</a>
                        <a class="dropdown-item" href="help_support.html">Help Support</a>
                        <a class="dropdown-item" href="help_ticket.html">Help Ticket</a>
                        <a class="dropdown-item" href="refund_payment.html">Refund Payment</a>
                        <a class="dropdown-item" href="faq.html">FAQ</a>
                        <a class="dropdown-item" href="signin.html">Sign In</a>
                        <a class="dropdown-item" href="signup.html">Sign Up</a>
                        <a class="dropdown-item" href="search.html">Search</a>
                    </div>
                </li> -->
                <!-- <li class="nav-item active">
                    <a class="nav-link text-white pl-0" href="/find-order">Find Your Order</a>
                </li> -->
            </ul>
            
            <div class="list-unstyled form-inline mb-0 ml-auto">
                <!-- <a href="/find-order" class="text-white px-3 py-2"><i class="icofont-fast-delivery"></i></a> -->
                <div class=" text-md-right">
                    <span style="color: white; font-weight: 600;">Follow us on</span>
                    <a href="https://www.facebook.com/4storez-108710707974198" class="btn btn-icon btn-light"><i class="icofont-facebook" style="color: #167D7F!important;"></i></a>
                    <!-- <a href="#" class="btn btn-icon btn-light"><i class="icofont-twitter" style="color: #167D7F!important;"></i></a> -->
                    <a href="https://instagram.com/4storez_com?igshid=1tvd5cabvd262" class="btn btn-icon btn-light"><i class="icofont-instagram" style="color: #167D7F!important;"></i></a>
                    <!-- <a href="#" class="btn btn-icon btn-light"><i class="icofont-youtube" style="color: #167D7F!important;"></i></a> -->
                </div>
                <!-- <a href="promos.html" class="text-white bg-offer px-3 py-2"><i
                        class="icofont-sale-discount h6"></i>Promos</a> -->
            </div>
        </div>
    </div>
</div>

<nav id="main-nav">
    <ul class="second-nav">
        <li><a href="/"><i class="icofont-smart-phone mr-2"></i> Home</a></li>
        <li>
            <% if(loginUser) { %>
                <a href="/logout"><i class="icofont-logout mr-2"></i> Sign Out </a>
            <% } else { %>
                <a href="#"><i class="icofont-login mr-2"></i> Authentication</a>
                <ul>
                    <li><a class="dropdown-item" href="/sign-in">Sign In</a></li>
                    <li><a class="dropdown-item" href="/sign-up">Sign Up</a></li>
                    <!-- <li><a href="verification.html">Verification</a></li> -->
                </ul>
            <% } %>
        </li>
        <li style="border: hotpink 1px solid;">
            <a class="dropdown-item" href="/listing">Listing</a>
        </li>
            <!-- <li><a class="dropdown-item" href="product_details.html">Detail</a></li> -->
            <!-- <li><a class="dropdown-item" href="picks_today.html">Trending</a></li> -->
            <!-- <li><a class="dropdown-item" href="recommend.html">Recommended</a></li> -->
            <!-- <li><a class="dropdown-item" href="fresh_vegan.html">Most Popular</a></li> -->
            <li><a class="dropdown-item" href="/cart">Cart</a></li>
            <!-- <li><a class="dropdown-item" href="checkout.html">Checkout</a></li> -->
            <!-- <li><a class="dropdown-item" href="successful.html">Successful</a></li> -->
        <li>
            <a href="#"><i class="icofont-sub-listing mr-2"></i> My Order</a>
            <ul>
                <li><a class="dropdown-item" href="my_order.html">My order</a></li>
                <li><a class="dropdown-item" href="status_complete.html">Status Complete</a></li>
                <li><a class="dropdown-item" href="status_onprocess.html">Status on Process</a></li>
                <li><a class="dropdown-item" href="status_canceled.html">Status Canceled</a></li>
                <li><a class="dropdown-item" href="review.html">Review</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="icofont-ui-user mr-2"></i> My Account</a>
            <ul>
                <li><a class="dropdown-item" href="my_account.html">My account</a></li>
                <li><a class="dropdown-item" href="promos.html">Promos</a></li>
                <li><a class="dropdown-item" href="my_address.html">My address</a></li>
                <li><a class="dropdown-item" href="terms_conditions.html">Terms & conditions</a></li>
                <li><a class="dropdown-item" href="help_support.html">Help & support</a></li>
                <li><a class="dropdown-item" href="help_ticket.html">Help ticket</a></li>
                <li><a class="dropdown-item" href="signin.html">Logout</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="icofont-page mr-2"></i> Pages</a>
            <ul>
                <li><a class="dropdown-item" href="verification.html">Verification</a></li>
                <li><a class="dropdown-item" href="promos.html">Promos</a></li>
                <li><a class="dropdown-item" href="promo_details.html">Promo Details</a></li>
                <li><a class="dropdown-item" href="terms_conditions.html">Terms & Conditions</a></li>
                <li><a class="dropdown-item" href="privacy.html">Privacy</a></li>
                <li><a class="dropdown-item" href="terms%26conditions.html">Conditions</a></li>
                <li><a class="dropdown-item" href="help_support.html">Help Support</a></li>
                <li><a class="dropdown-item" href="help_ticket.html">Help Ticket</a></li>
                <li><a class="dropdown-item" href="refund_payment.html">Refund Payment</a></li>
                <li><a class="dropdown-item" href="faq.html">FAQ</a></li>
                <li><a class="dropdown-item" href="signin.html">Sign In</a></li>
                <li><a class="dropdown-item" href="signup.html">Sign Up</a></li>
                <li><a class="dropdown-item" href="search.html">Search</a></li>
            </ul>
        </li>
        <!-- <li>
            <a href="#"><i class="icofont-link mr-2"></i> Navigation Link Example</a>
            <ul>
                <li>
                    <a href="#">Link Example 1</a>
                    <ul>
                        <li>
                            <a href="#">Link Example 1.1</a>
                            <ul>
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Link Example 1.2</a>
                            <ul>
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Link Example 2</a></li>
                <li><a href="#">Link Example 3</a></li>
                <li><a href="#">Link Example 4</a></li>
                <li data-nav-custom-content>
                    <div class="custom-message">
                        You can add any custom content to your navigation items. This text is just an example.
                    </div>
                </li>
            </ul>
        </li> -->

        <li>
            <!-- <div class=" text-md-right"> -->
                    <!-- <a href="#" class="btn btn-icon btn-light"><i class="icofont-facebook" style="color: #167D7F!important;"></i></a>
                    <a href="#" class="btn btn-icon btn-light"><i class="icofont-instagram" style="color: #167D7F!important;"></i></a> -->
                <!-- <a href="#" class="btn btn-icon btn-light"><i class="icofont-twitter" style="color: #167D7F!important;"></i></a> -->
                <!-- <a href="#" class="btn btn-icon btn-light"><i class="icofont-youtube" style="color: #167D7F!important;"></i></a> -->
            <!-- </div> -->
        </li>
    </ul>
    <ul class="bottom-nav">
        <li class="email">
            <a class="text-success" href="/">
                <p class="h5 m-0"><i class="icofont-home text-success"></i></p>
                Home
            </a>
        </li>
        <li class="github">
            <a href="/cart">
                <p class="h5 m-0"><i class="icofont-cart"></i></p>
                CART
            </a>
        </li>
        <li class="ko-fi">
            <a href="help_ticket.html">
                <p class="h5 m-0"><i class="icofont-headphone"></i></p>
                Help
            </a>
        </li>
    </ul>
</nav>


<script>
    // window.onload = () => {
    //     a = document.querySelectorAll("a")
    //     for (let i = 0; i < a.length; i++) {
    //         if (a[i].href ==  "http://localhost:4000/cart") {
    //             a[i].href = `http://localhost:4000/cart/${(localStorage.getItem("product"))}` 
    //             console.log("<< Found >>");
    //         }
    //         console.log("Not found");
    //     }
    // }
</script>