<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title> <%= title %> </title>
        <meta name="description" content="This admin panel is created using bootstrap.">
        <link rel="icon" type="image/jpeg" sizes="288x258" href="../admin/assets/img/logo.JPG">
        <link rel="icon" type="image/jpeg" sizes="288x258" href="../admin/assets/img/logo.JPG">
        <link rel="icon" type="image/jpeg" sizes="288x258" href="../admin/assets/img/logo.JPG">
        <link rel="icon" type="image/jpeg" sizes="288x258" href="../admin/assets/img/logo.JPG">
        <link rel="icon" type="image/jpeg" sizes="288x258" href="../admin/assets/img/logo.JPG">
        <link rel="stylesheet" href="../admin/assets/bootstrap/css/bootstrap.min.css">
        <link rel="manifest" href="../admin/assets/manifest.json">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="../admin/assets/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="../admin/assets/css/untitled.css">
        <link rel="stylesheet" href="../admin/assets/css/Sidebar-Menu-Rigth-1.css">
        <link rel="stylesheet" href="../admin/assets/css/Sidebar-Menu-Rigth-2.css">
        <link rel="stylesheet" href="../admin/assets/css/Sidebar-Menu-Rigth.css">
    </head>

    <body id="page-top">

        <%- body %>

    </body>

    <script src="../admin/assets/js/jquery.min.js"></script>
    <script src="../admin/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../admin/assets/js/theme.js"></script>
    <script src="../admin/assets/js/stylish-portfolio.js"></script>
    <script src="../admin/assets/js/Sidebar-Menu-Rigth.js"></script>

</html>