<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" href="../img/logo.svg">
  <title></title>
  
  <link rel="stylesheet" type="text/css" href="../slick.min.css" />
  <link rel="stylesheet" type="text/css" href="../slick-theme.min.css" />
  
  <link href="../vendor/icons/icofont.min.css" rel="stylesheet" type="text/css">
  
  <link href="../bootstrap.min.css" rel="stylesheet">
  
  <link href="../style.css" rel="stylesheet">
  
  <link href="../demo.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet"> -->

</head>
      
<body id="style-3">
  
  <%- include('../partials/nav.ejs') %>  
  
  
  <%- body %>
  
  
  
  <%- include('../partials/footer.ejs') %>  
  
  
  
<script src="../js/addToCart.js" type="680bb8ec5f94d1997bba91c1-text/javascript"></script>
<script src="../jquery.min.js" type="680bb8ec5f94d1997bba91c1-text/javascript"></script>
<script src="../bootstrap.bundle.min.js" type="680bb8ec5f94d1997bba91c1-text/javascript"></script>
<script type="680bb8ec5f94d1997bba91c1-text/javascript" src="../slick.min.js"></script>
<script type="680bb8ec5f94d1997bba91c1-text/javascript" src="../hc-offcanvas-nav.js"></script>
<script src="../a.js" type="680bb8ec5f94d1997bba91c1-text/javascript"></script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/95c75768/cloudflare-static/rocket-loader.min.js" data-cf-settings="680bb8ec5f94d1997bba91c1-|49" defer=""></script>

<!--                  F i l e p o n d                  -->
<link rel="stylesheet" href="../filepond/filepond-min.css">
<script src="../filepond/filepond-plugin-file-encode.min.js"></script>
<script src="../filepond/filepond-plugin-image-preview.min.js"></script>
<script src="../filepond/filepond-plugin-image-resize.min.js"></script>
<script src="../filepond/filepond.min.js"></script>
<script src="../filepond/fileUpload.js"></script>

</body>
</html>