<body class="fixed-bottom-padding">

    <section class="osahan-main-body">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center vh-100">
                <div class="col-lg-6">
                    <div class="osahan-verification shadow bg-white p-4 rounded">
                        <div class="osahan-form p-3 text-center mt-3">
                            <h2>Enter your order id</h2>

                            <%- include('./partials/messages.ejs') %>
                                                        
                            <form action="" method="POST">
                                <div class="row my-5 px-5">
                                    <div class="col px-2">
                                        <input type="text" placeholder="xxxxxxxxxxxxxxxxxxxxxxxxx" name="orderTracker"
                                            class="form-control opt form-control-lg text-center" value="">
                                    </div>
                                </div>
                                <button class="btn btn-success btn-block btn-lg">Continue</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>