<body class="fixed-bottom-padding">

    <section class="osahan-main-body osahan-signin-main">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center vh-100">
                <div class="col-lg-6 pl-lg-5">
                    <div class="osahan-signin shadow-sm bg-white p-4 rounded">
                        <div class="p-3">
                            <h2 class="my-0">Recover Password</h2>

                            <%- include('./partials/messages.ejs') %>
                            
                            <form action="/forget-password" method="POST">
                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input placeholder="Enter Email" name="email" type="email" class="form-control" aria-describedby="emailHelp">
                                </div>
                                <button type="submit" class="btn btn-success btn-lg rounded btn-block">Sign in</button>
                            </form>
                            <p class="text-center mt-3 mb-0"><a href="/sign-in" class="text-dark">Already have an account! Sign in</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>