<body class="fixed-bottom-padding">

    <section class="osahan-main-body osahan-signin-main">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center vh-100">
                <div class="col-lg-6 pl-lg-5">
                    <div class="osahan-signin shadow-sm bg-white p-4 rounded">
                        <div class="p-3">
                            <%- include('./partials/messages.ejs') %>
                            <a href="/sign-in" class="btn btn-success btn-lg rounded btn-block">Sign in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>