<section>
    <div id="sidebarSensors1" class="sidebar1 animsition" style="display: block;background-color: #343f87;color: rgb(255,255,255);max-width: 400px !important;">
        <div id="sidebar-1"></div>
        <div class="row" style="margin: 0px;">
            <div class="col-12" style="margin-top: 37px;">
                <div><a class="btn" href="javascript:sidebarClose()" style="margin: 7px;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Multiplication_Sign.svg/1024px-Multiplication_Sign.svg.png" width="20"></a>
                    <h1 style="display: inline-block;">Filter</h1>
                </div>
            </div>
            <div class="col">
                <form>
                    <div class="form-group"><label>Label</label><input class="form-control" type="text" style="background-color: rgba(255,255,255,0);color: rgb(255,255,255);" name=""></div>
                    <div class="form-group"><label>Label</label><input class="form-control" type="text" style="background-color: rgba(255,255,255,0);color: rgb(255,255,255);" name=""></div>
                    <div class="form-group"><label>Label</label><input class="form-control" type="text" style="background-color: rgba(255,255,255,0);color: rgb(255,255,255);" name=""></div>
                    <div class="form-group"><label>Label</label><input class="form-control" type="text" style="background-color: rgba(255,255,255,0);color: rgb(255,255,255);" name=""></div>
                    <div class="form-row pt-3 mt-3" style="top: 0%;border-top: 1px solid white;">
                        <div class="col d-sm-flex justify-content-sm-center" style="display: flex;">
                            <button class="btn text-center d-sm-flex justify-content-sm-center" type="button" style="display: flex;width: 90%;line-height: 30px;background-color: #24a0ed;color: white;">Apply Changes</button>
                        </div>
                        <div class="col d-sm-flex justify-content-sm-center" style="display: flex;">
                            <button class="btn text-center d-sm-flex justify-content-sm-center" type="button" style="display: flex;width: 90%;line-height: 30px; color: white;">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr>
    </div>
</section>
